<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">
      <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
      Teams <span class="badge pull-right"><%= @teams.count("id") %> Teams</span>
    </h3>
  </div>
    <ul class="list-group">
      <% @teams.each do |team| %>
        <li class="list-group-item">
          <div class="media">
            <div class="media-left">
              <a href="#">
                <img class="media-object img-rounded" src="<%= team.image_url %>" width="64" height="64">
              </a>
            </div>
            <div class="media-body">
              <h4 class="media-heading">
                <%= team.name %>
                <span class="pull-right badge"><%= team. %></span>
              </h4>
              <%= team.description %>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  <div class="panel-footer">
    <nav aria-label="Page navigation" class="text-center">
      <ul class="pagination pagination-sm">
        <li>
          <a href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li class="active"><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">6</a></li>
        <li>
          <a href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">
      <i class="fa fa-check-square-o" aria-hidden="true"></i>
      Games
    </h3>
  </div>
  <table class="table table-condensed">
    <thead>
       <tr>
         <th>#</th>
         <th>Home Team</th>
         <th>Away Team</th>
         <th>Score</th>
       </tr>
    </thead>
    <tbody>
      <tr class='success'>
        <th scope='row'>1</th>
        <td>Tampa Dart Dynamos</td>
        <td>Buffalo BullsEyes</td>
        <td>20-17</td>
      </tr>
      <tr>
        <th scope='row'>2</th>
        <td>St Pete Ping Pong Power House</td>
        <td>Philly Paddlers</td>
        <td>18-12</td>
      </tr>
       <tr>
         <th scope='row'>3</th>
         <td>Orlando Golf Gang</td>
         <td>Portland Putters</td>
         <td>2-1</td>
       </tr>
    </tbody>
  </table>
</div>
